/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 * {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
	font-family: Agency_FB;
	src: local(Agency_FB), url('../fonts/AGENCYR.TTF') format('opentype');
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:#E4E4E4;
  background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #A7A7A7),
    color-stop(0.51, #E4E4E4)
    );
  background-attachment:fixed;
  font-family:Agency_FB;
  font-size:14px;
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;

}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .app {
    background-position:left center;
    padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
    margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */
  }
}


.event {
  border-radius:4px;
  -webkit-border-radius:4px;
  color:#FFFFFF;
  font-size:12px;
  margin:0px 30px;
  padding:2px 0px;
}

.event.listening {
  background-color:#333333;
  display:block;
}

.event.received {
  background-color:#4B946A;
  display:none;
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

.blink {
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}

h1, h2, h3, p,input, a, label {
  color: #ed1c24;
  font-family : Agency_FB;
}

h1.ui-title{
  /*color:white;*/
}

.ui-header .ui-title{
  font-size: 22px;
  margin: .25em 20% .2em;
  color: white;
  line-height: 30px;
}

.ui-li-heading{
  overflow: visible;
}

#map-container{
  margin: 0 25px;
  padding: 0;
}
#map-canvas {
  margin: 0;
  padding: 0;
  height: 300px;
  width: 100%;
}

#switch-btn{
  font-size: 18px;
  height:42px;
  width: 100px;
  float: right;
  text-align: right;
  padding-right: 10px;
}
#switch-btn span {
  width: 40px;
  display: inline-block;
  text-align: center;
  height: 25px;
  line-height: 25px
}
#map-btn {
  /*border-right: 1px black solid;*/
}
#switch-btn p{
  color: black;
  font-weight:bold;
}
.inactive-btn{
  color: black;
  background: lightgray;
}
.active-btn{
  color: white;
  font-weight: bold;
  background: #ed1c24;
}

/*same style as North campus. Perhaps can be merged*/
#nearme-title{
  padding-left: 10px;
  margin: 0px 5px 2px;
  font-size: 22px;
  font-weight: normal;

  font-family:Agency_FB;
  text-decoration: none;
  color:#ed1c24;
  
  float: left;
}

#nearme-title span{
  font-size: 180%;
}

/*no longer needed*/
#nearme-title-img{
  margin-top : 10px;
}


/**** ICONS ON HOME PAGE ****/
#icons{
  text-align:center;
}

#icons div{
  margin-top: 15px;
  height: 50px;
}

#listall-icon{
  display: inline-block;
  width: 100px;
  background: url('../img/iter1/homepage_nav_icons_active.png') 0px center no-repeat;
  background-size: 300%;
  xborder-right: 4px solid black;
}

#icons #fav-icon{
  display: inline-block;
  width: 100px;
  background: url('../img/iter1/homepage_nav_icons_active.png') -100px center no-repeat;
  background-size: 300%;
  xborder-right: 4px solid black;
}
#connect-icon{
  display: inline-block;
  width: 100px;
  background: url('../img/iter1/homepage_nav_icons_active.png') -204px center no-repeat;
  background-size: 300%;
}


/****SEARCH BUTTON AND BAR ON HOME PAGE****/
#search-btn{
  float:right;
  display:inline-block;
  left:0px;
  width:46px;
  height:36px;
  background:url('images/icons-36-black.png') -1224px 0;
}

#search-bar{
  display:none;	
  xmargin: 15px 5%;
  height: 45px;
  xborder-color: #ed1c24;
  x-moz-box-shadow: 0 0 8px #444;
  x-webkit-box-shadow: 0 0 8px #444;
  xbox-shadow: 0 0 8px #444;
  xpadding-left: 15px;
  /*background: url('../img/iter1/fdj.png') center right no-repeat;*/
}
#search-bar input{
  height:45px;
  width:100%;
  xpadding: 0;
  font-size: 24px;
  line-height: 45px;
  font-family: Agency_FB;
}
#search-bar #fdj-container{
  background: url('../img/iter1/fdj.png') right center no-repeat;
  height: 100%;
  width: 20%;
  position: absolute;
  right: 9px;
}

#search-bar.focus{
  -moz-box-shadow: 0 0 12px #ed1c24 /*{global-active-background-color}*/;
  -webkit-box-shadow: 0 0 12px #ed1c24 /*{global-active-background-color}*/;
  box-shadow: 0 0 12px #ed1c24 /*{global-active-background-color}*/;
}

.ui-content {
  padding: 0px;
  background-color: #e7e8e9;
}
.ui-btn-up-c {
  background: #ed1c24;
}

.ui-bar-a {
  background: #ed1c24 /*{a-bar-background-color}*/;
}

/*Diner Info*/

.dinerInfo{
  overflow: hidden;
  xpadding: 0px 5px;
  xbackground: white;
  
  margin-left:15px;
  margin-right:15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dinerInfo h1{
  color: black;
  text-decoration: none;
  text-shadow: none;
  margin:0px;
}
.dinerInfo .section{
  background: white;
  overflow: hidden;
  padding: 5px;
  border-bottom: 1px solid black;
}
.dinerInfo .section:last-child{
  border-bottom: 0;
}

.dinerInfo .section.head{
  border-bottom:2px solid black;
}
.dinerInfo .section.head h1{
  margin:0 auto;
  width:100px;
  text-align: center;
}
.dinerInfo .section.head .btn.left{
  bottom: -3px;
  float:left;
  width:30%;
}
.dinerInfo .section.head .btn.right{
  bottom: -3px;
  float:right;
  width:30%;
}

.dinerInfo .section.head .btn.disabled{
  -webkit-filter: grayscale(100%);
}

.dinerInfo .section h1{
  font-size:25px;
  font-weight:normal;
  text-decoration: none;
  text-shadow: none;
  margin:0px;
  color: black;
}

.dinerInfo .section p{
  font-size:17px;
  font-weight:normal;
  text-decoration: none;
  text-shadow: none;
  margin:0px;
  color: black;
  float:left;
}

.dinerInfo .section  .btn{
  font-size:20px;
  font-weight:normal;
  text-decoration: none;
  text-shadow: none;
  margin:0px;
  float:right;
  background:#ed1c24;
  width: 60px;
  text-align: center;
  
  position: relative;
  bottom: 15px;
  
}

.dinerInfo .section  .btn:first-child{
	float:left;
}

.dinerInfo .section  .btn.long {
  width: 100px;
}

.dinerInfo .section  .btn a{
  color:white;
  text-decoration: none;
  display: block
}


/*Some css style is attached to list-container .. other is not
 consider revision
*/
.list-container .dinner{

  overflow: hidden;
  padding: 0px 5px;
  
  background: white;
  margin-left:15px;
  margin-right:15px;
  margin-bottom: 5px;
  
  
}

.list-container .dinner:last-child{
  margin-bottom: 0;
}

.list-container .diner-name{
  margin: 5px 0px 5px;
  text-shadow: none;
  text-decoration: none;
  font-weight:bold;
  font-size:27px;
  xcolor: black;
}
.list-container .diner-desc{
  margin: 5px 0 5px;
  font-size: 17px;
  text-shadow: none;
  color: black;
}

.list-container .diner-time{
  float: left;
  width: 120px;
  text-shadow: none;
  font-size:18px;
  margin: 0px 0px 0px 0px;
}

.list-container  .diner-dist{
  float: right;
  width: 80px;
  font-size:18px;
  padding-right: 5px;
  text-shadow: none;
  text-align: right;
  margin:0px 0px 0px 0px;
}



#showmore-btn{
  text-align: right;
  font-size: 14px;
}
#fullscreen-btn{
  text-align: right;
  font-size: 14px;
  padding: 5px 4px;
}
#fullscreen-btn p{
  margin:0;
}


#all .list-container .campus-panel{
  margin-bottom: 10px;
}

#all .list-container .campus-section-header-container .campus-section-header{
  padding-left: 10px;
  margin: 0px 5px 2px;
  font-size: 22px;
  font-weight: normal;
}
#all .list-container .campus-section-header-container .campus-section-header span{
  font-size: 180%;
}

#all .contractor{
  background: url("../img/iter1/arrow-up.png") no-repeat center center;
  content: '';
  display: block;
  height: 17px;
  padding-right: 80px;
  padding-top: 33px;
  float: right;
  transition: all 0.4s;
  -webkit-transition: all 0.4s; /* Safari */
}
#all .contractor.contracted{
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg); 
}

#all .campus-section-header-container{
  border-bottom:1px solid rgba(130, 130, 130, 0.298039);
}


/*
 Connect
 */

#connect div[data-role="content"]{
  padding: 0 25px;
}
#connect div[data-role="content"] [data-role="fieldcontain"] label.my-ui-input{
  -webkit-border-radius: 1em /*{global-radii-buttons}*/;
  border-radius: 1em /*{global-radii-buttons}*/;
}
#connect div[data-role="content"] [data-role="fieldcontain"] div.ui-input-text {
  -webkit-border-radius: 1em /*{global-radii-buttons}*/;
  border-radius: 1em /*{global-radii-buttons}*/;
}

#connect div[data-role="content"] [data-role="fieldcontain"] div.ui-select {
  
}

#connect div[data-role="content"] .ui-btn-up-b {
  border: 1px solid #f73636 /*{b-bup-border}*/;
  background: #ed1c24 /*{b-bup-background-color}*/;
  font-weight: bold;
  color: #f7f7f7 /*{b-bup-color}*/;
  -webkit-border-radius: 0em /*{global-radii-buttons}*/;
  border-radius: 0em /*{global-radii-buttons}*/;
}

#connect div[data-role="content"] .ui-btn-hover-b {
  border: 1px solid #FF3e3e /*{b-bhover-border}*/;
  background: #FF3e3e /*{b-bhover-background-color}*/;
  font-weight: bold;
  color: #ffffff /*{b-bhover-color}*/;
  -webkit-border-radius: 0em /*{global-radii-buttons}*/;
  border-radius: 0em /*{global-radii-buttons}*/;
}

#connect div[data-role="content"] .ui-btn-down-b {
  border: 1px solid #FF3e3e /*{b-bdown-border}*/;
  background: #FF3e3e /*{b-bdown-background-color}*/;
  font-weight: bold;
  color: #ffffff /*{b-bdown-color}*/;
}

#connect #popupDialog-popup [data-role="content"]{
  padding:10px 25px; 
}

/* form validation on Connect*/ 
label.error {
  color: red;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  margin-top: 0.5em;
  width: 100%;
  float: none;
}

.mask{
  width: 100%;
  height: 124px;
  min-height: 124px;
  position: absolute;
  z-index: -1
}
.loading{
 background: url("../css/images/ajax-loader.gif") no-repeat 50% 38%;
 z-index: 1;
 display: none;
}

.opac{
  opacity: 0.6;
}

.ui-body-a{
  background: #e7e8e9;
}
.no-text-shadow{
  text-shadow: none !important;
}
.keyword{
  font-weight: bold;
  font-size: 120%;
}

/*
 Diner 
 */
 #diner .desc{
  font-size: 16px;
  /*max-height: 150px;*/
  padding: 0 25px;
  min-height: 50px;
  line-height: 20px;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  /*white-space: nowrap;*/
}

.today-menus{
  text-shadow: none !important;
  margin: 20px 0 ;
  padding-left: 10px;
  padding-right: 10px;
}

.today-menus h1{
  color: black;
  text-decoration: none;
  text-shadow: none;
  margin:0px;
}

.menu {
  background-color: white;
  width : 100%;
  position: relative;
  xmargin: 15px 0;
  height: 45px;
}

.menu.compact{
  height: 40px;
  xmargin: 5px 0;
  border-bottom: 1px solid black;
}
.menu.compact:last-child{
  border-bottom: 0;
}

.menu.compact a{
  font-size: 17px;
}

.icon-fav{
  width : 30px;
  height: 30px;
  float: right;
  background: url("../img/iter1/star.png") no-repeat center right 0px;
  background-size: 100% 100%
}
.icon-fav.unfav{
  -webkit-filter: grayscale(100%);
}
/* grey bg color #d1d2d4 */

.menu .arrow-right{
  position: absolute;
  right: 15px;
  width : 36px;
  height: 88%;
  border-left: 2px red solid;
  top: 3px;
  background: url("../img/iter1/arrow-right.png") no-repeat center right 0px;
}

.ui-page .ui-content .menu a{
  color : #ed1c24;
  padding: 0.7em 15px;
  text-decoration : none !important;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.menu .highlight{
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 1px 0  #ffffff;
}
.menu .medium{
  font-size: 16px;
  text-shadow: 0 1px 0  #ffffff;
  display: block;
  padding-top: 0.3em;
}
.hours[limited="1"]{
  background: cornsilk;
}

.hours .highlight{
  width: 150px;
  display: inline-block;
  text-transform: capitalize;
  text-align: left;
}
.hours span{
  width: 46px;
  display: inline-block;
  text-align: center;
}

.ui-header .backbtn{
  text-decoration : none !important;
  color : white;
  background: url("../img/iter1/back.png") no-repeat center center;
  border-right: 2px white solid;
  height: 100%;
  width: 40px;
  top:0;
  left:0;
}

.keyword{
  color:green;
  font-size: 120%;
}

.ui-popup-screen.in {
  opacity: 0.25;
  background-color: black;
}

#map-container.fullscreen{
  position:absolute;
  width:100%;
  margin:0;
  top:45px;
}
 

